{% extends 'layouts/base.html' %}
{% block style %}demo{% endblock %}
{% block body_class %}inline-block{% endblock %}

{% block main %}
<header><h1>{{ post.head }}</h1></header>
<!-- Responsive Blocks -->
<section>
<div>1</div><!-- space
--><div>2</div><!-- space
--><div>3</div><!-- space
--><div>4</div><!-- space
--><div>5</div><!-- space
--><div>6</div>
</section>
<!-- Offset -->
<section>
<div>1</div><!-- space
--><div>2</div>
</section>
<!-- Nesting -->
<section>
<div>a</div><!-- space
--><div>a</div><!-- space
--><div>
<div>b</div><!-- space
--><div>b</div>
</div>
</section>
<!-- Alignment -->
<section>
<div>1</div>
</section>
<!-- Cycle -->
<section>
<div>{{ post.text1 }}</div><!-- space
--><div>{{ post.text2 }}</div><!-- space
--><div>{{ post.text3 }}</div><!-- space
--><div>{{ post.text4 }}</div><!-- space
--><div>{{ post.text5 }}</div><!-- space
--><div>{{ post.text6 }}</div>
</section>
<!-- Vertical Grid -->
<section>
<div>1</div><!-- space
--><div>2</div><!-- space
--><div>3</div>
</section>
<!-- Waffle Grid -->
<section>
<div>1</div><!-- space
--><div>2</div><!-- space
--><div>3</div><!-- space
--><div>4</div><!-- space
--><div>5</div><!-- space
--><div>6</div><!-- space
--><div>7</div><!-- space
--><div>8</div><!-- space
--><div>9</div><!-- space
--><div>10</div><!-- space
--><div>11</div><!-- space
--><div>12</div><!-- space
--><div>13</div><!-- space
--><div>14</div><!-- space
--><div>15</div>
</section>
<!-- Varying Sizes -->
<section>
<div>1</div><!-- space
--><div>2</div>
</section>
<!-- Source Ordering -->
<section>
<div>1</div><!-- space
--><div>2</div>
</section>
{% endblock %}