{% extends 'jstask/base.html' %}
{% block style %}classtablecss{% endblock %}
{% block body_class %}{% endblock %}

{% block main %}
<div class="container">
<select class="slt"></select>
<label>col<input type="radio" value="column" name="col" checked/></label>
<label>row<input type="radio" value="row" name="row" /></label>
<div class="table">
	<div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>
</div>
{% endblock %}
{% block js %}classtablejs{% endblock %}