{% extends 'layouts/base.html' %}

{% block body_class %}{% endblock %}

{% block main %}
<header><h1>{{ post.head }}</h1></header>
<section class="float-advanced">
<div>3</div>
<div>1.Or I shall live your epitaph to make,
Or you survive when I in earth am rotten;
From hence your memory death cannot take,
Although in me each part will be forgotten.</div>
<div>2.Ovey death cannot take,
Although in me each part will be forgotten.</div>
<div>4.Or I shall live your epitaph to make,
Or you survive when I in earth am rotten;
From hence your memory death cannot take,
Although in me each part will be forgotten.
</div>
<div>
<div>5.Or I shall live your epitaph to make,
Or you survive when I in earth am rotten;
From hence your memory death cannot take,
Although in me each part will be forgotten.</div>
<div>6.Or I shall live your epitaph to make,
Or you survive when I in earth am rotten;
From hence your memory death cannot take,
Although in me each part will be forgotten.</div>
</div>
<div>7.Or I shall live your epitaph to make,
Or you survive when I in earth am rotten;
From hence your memory death cannot take,
Although in me each part will be forgotten.</div>
</section>
<section class="float_2">
<div>3</div>
<div>2.tten.e your memoOrtave when I in earth am rotten;
From houten.e your memoOrtave when I in earth am rotten;
From houten.e your memoOrtave when I in earth am rotten;
From hour oO</div>
<div>1.,Ortavtave when I in earth am rotten;
From hence your memoOrtave when I in earth am rotten;
From hence your memo
Although in.</div>
<div>4.will be forgo
</div>
<div>
<div>5.Or I shall live your epitaph to make,
Or you survive when I in earth am rotten;
From hence your memory death cannot take,
Although in me each part will be forgotten.</div>
<div>6.Or I shall live your epitaph to make,
Or you survive when I in earth am rotten;
From hence your memory death cannot take,
Although in me each part will be forgotten.</div>
</div>
<div>7.Or I shall live your epitaph to make,
Or you survive when I in earth am rotten;
From hence your memory death cannot take,
Although in me each part will be forgotten.</div>
</section>
{% endblock %}