<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
  <title>Table Layout Demo</title>
  <base href="/Learn-Assignment/">
  <base href="/">
<link rel="stylesheet" href="assets/style.css">
<script src="assets/jquery.min.js"></script>
</head>
<body class="table">
    
<header><h1>Table Layout Demo</h1></header>
<!-- Responsive Blocks -->
<section>
<div>1</div>
<div>2</div>
<div>3</div>
<div>4</div>
<div>5</div>
<div>6</div>	
</section>
<!-- Offset -->
<section>
<div>1</div>
<div>h</div>
<div>2</div>
</section>
<!-- Nesting -->
<section>
<div>
<div>a</div>
<div>a</div>
<div>
<div>b</div>
<div>h</div>
<div>b</div>
</div>
</div>
</section>
<!-- Alignment -->
<section>
<div>h</div>
<div>1</div>
<div>h</div>
</section>
<!-- Cycle -->
<section>
<div><div>1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem rem nam dolore repellendus provident, voluptas necessitatibus vel cupiditate delectus, doloremque incidunt accusantium quia! Nisi molestiae totam natus, in assumenda accusantium.</div></div>
<div><div>2 - Lorem ipsum dolor sit amet.</div></div>
<div><div>3 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sunt harum ut rerum id quae voluptas velit iusto quasi distinctio.</div></div>
<div><div>4 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, sequi?</div></div>
<div><div>5 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime nisi deserunt, dolorem accusamus sint ipsam dolor quae ab animi assumenda architecto placeat possimus fugit doloribus vel, corporis amet aliquam maiores!</div></div>
<div><div>6 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div></div>
</section>
<!-- Vertical Grid -->
<section>
<div>1</div>
<div>2</div>
<div>3</div>
</section>
<!-- Waffle Grid -->
<section>
<div>
<div>1</div><div>2</div><div>3</div>
</div>
<div>
<div>4</div><div>5</div><div>6</div>
</div>
<div>
<div>7</div><div>8</div><div>9</div>
</div>
<div>
<div>10</div><div>11</div><div>12</div>
</div>
<div>
<div>13</div><div>14</div><div>15</div>
</div>
</section>
<!-- Varying Sizes -->
<section>
<div>
<div>1</div>
<div>2</div>
</div>
</section>
<!-- Source Ordering -->
<section>
<div>
<div>1</div>
<div>2</div>
</div>
</section>

  <script src="assets/main.js"></script>
</body>
</html>