/* variables and functions */
mq-desktop = 'only screen and (min-width: 1025px)'
mq-tablet-landscape = '(min-width: 769px) and (max-width: 1024px)'
mq-tablet-portrait = '(min-width: 421px) and (max-width: 768px)'
mq-mobile = '(max-width: 420px)'
setWidth(col, gutter = unit(30, px))
  width "calc(99.9% * %s - (%s - %s * %s))" % (col gutter gutter col)
setMargin(side, m=0)
  if side != false
    margin-{side}: m
  else
    margin: m
setEnds(float, fn, arg1, arg2)
  if fn != false
    &:first-child
      fn(arg1)
    &:last-child
      fn(arg2)
  if float == true
    &:first-child
      float: left
    &:last-child
      float: right
Responsive_float(x)
  &:nth-child({x}n)
    float: right
    margin-right: 0
  &:nth-child({x}n+1)
    margin-left: 0
    clear: both
waffle_float()
  &:nth-child(3n)
    float: right
    margin-right: 0
  &:nth-child(3n+1)
    margin-left: 0
  for i in range(1,3)
    &:nth-child({i})
      margin-top: 0
  for i in range(13,15)
    &:nth-child({i})
      margin-bottom: 0
Responsive(x)
  &:nth-child({x}n)
    margin-right: 0
  &:nth-child({x}n+1)
    margin-left: 0
waffle()
  &:nth-child(3n)
    margin-right: 0
  &:nth-child(3n+1)
    margin-left: 0
  for i in range(1,3)
    &:nth-child({i})
      margin-top: 0
  for i in range(13,15)
    &:nth-child({i})
      margin-bottom: 0
/* common style */
$width = unit(1140, px)

header
  margin: 50px auto
  text-align: center
  max-width: 500px
  width: 90%
  h1
    font-size: 30px
section
  max-width: $width
  width: 90%
  margin: 30px auto
  color: #fff
  padding: 0px 
  div 
    text-align: center
    height: auto
    padding: 42px 0
section:nth-of-type(1)
  background-color: #42cafd
section:nth-of-type(2)
  background-color: #66b3ba
  div 
    background-color: #52a9b1
section:nth-of-type(3)
  background-color: #8eb19d
section:nth-of-type(4)
  background-color: #f0d2d1
  padding: 100px 0
  div
    margin: auto
    background-color: #e5b1af
section:nth-of-type(5)
  background-color: #f19a3e   
section:nth-of-type(6)
  background-color: #1e90ff;
  div
    background-color: #0182ff
    width: 100%
    padding: 72px 0
    margin-bottom: 50px
  div:nth-child(3)
    margin-bottom: 0
section:nth-of-type(7)
  background-color: #ff6347      
section:nth-of-type(8)
  background-color: #00ff7f      
section:nth-of-type(9)
  background-color: #5f9ea0      
.hide
  opacity: 0 

/* table */
.table
  &>section
    display: table
    &>div
      display: table-cell
  section:nth-of-type(1)>div
    display: table
    border-spacing: 30px 15px
    width: calc(100% + 60px)
    margin-left: -30px
    padding: 0
    &>div
      padding: 42px 0
      display: table-cell
      background-color: #22c1fd
      width: 25%
  section:nth-of-type(2)
    padding: 15px 0
    div:nth-child(2)
      opacity: 0
  section:nth-of-type(3)
    div
      border-spacing: 30px 15px
      display: table
      padding: 0
      width: calc(100% + 60px)
      margin-left: -30px
      div
        background-color: #7ba48d
        padding: 42px
        display: table-cell
        width: ($width/3)px 
      div:nth-child(3)
        padding: 0
        border-spacing: 0 
        display: table-cell
        div
          display: table-cell
          background-color: #68977c
          padding: 42px 0
        div:nth-child(2)
          opacity: 0
  section:nth-of-type(4)
    div:nth-child(1), div:nth-child(3)
      opacity: 0
  section:nth-of-type(5)
    div
      display: table
      width: 100%
      padding: 0
      border-spacing: 30px 15px
      width: calc(100% + 60px)
      margin-left: -15px
      div
        display: table-cell
        padding: 0
        height: auto
        width: 25%
        div   
          width: 100%
          display: table
          background-color: #ef8b22     
          line-height: 25px
          font-family: sans-serif
          font-size: 16px
          height: auto
  section:nth-of-type(6)
    div
      display: table
  section:nth-of-type(7)
    &>div
      padding: 0
      width: 100%
      display: table
      border-spacing: 30px 15px
      width: calc(100% + 60px)
      margin-left: -30px
      div
        display: table-cell
        width: auto
        padding: 30px
        background-color: #ff4726
    div:first-child
      margin-top: -15px
    div:last-child
      margin-bottom: -15px
  section:nth-of-type(8)
    &>div   
      display: table
      padding: 0
      width: calc(100% + 60px)
      border-spacing: 30px 15px
      margin-left: -30px
      div
        display: table-cell
        padding: 42px
        background-color: #00e672
      div:first-child
        width: 31.7%
  section:nth-of-type(9)
    &>div   
      display: table
      padding: 0
      width: calc(100% + 60px)
      border-spacing: 30px 15px
      margin-left: -30px
      div
        display: table-cell
        background-color: #568e90
        padding: 42px

/* float */
.float
  section
    zoom: 1
    overflow: hidden
    div
      setMargin(false, 15px)
      height: 100px
      setEnds(false, setMargin, left, right)
  section:nth-of-type(1)
    div
      background-color: #22c1fd
  section:nth-of-type(1), section:nth-of-type(5)
    padding: 0
    div
      float: left 
      @media mq-desktop
        setWidth(1 / 4)
        Responsive_float(4)
      @media mq-tablet-landscape  
        setWidth(1 / 3)
        Responsive_float(3)
      @media mq-tablet-portrait
        setWidth(1 / 2)
        Responsive_float(2)
      @media mq-mobile
        setWidth(1 / 1)
        clear: both
        margin-left: 0
  section:nth-of-type(2)
    div
      setWidth(1 / 3)
      setEnds(true, false, arg1, arg2)
  section:nth-of-type(3)
    div
      setWidth(1 / 3)
      float: left
      background-color: #7ba48d
      zoom: 1
      overflow: hidden
      div
        background-color: #68977c
    div:nth-child(3)
      padding: 0
      div
        margin: 0
        width: 33.33%
        setEnds(true, false, arg1, arg2)
  section:nth-of-type(4)
    div
      setWidth(1 / 3)
      margin: auto
  section:nth-of-type(5)
    div
      float: left
      background-color: #ef8b22     
      line-height: 25px
      font-family: sans-serif
      font-size: 16px
      height: auto
      padding: 20px
  section:nth-of-type(6)
    div
      clear:both
      margin: 30px 0
      setEnds(false, setMargin, top, bottom)
  section:nth-of-type(7)
    div
      setWidth(1 / 3)
      float: left
      background-color: #ff4726
      waffle_float()
  section:nth-of-type(8)
    div
      background-color: #00e672
      setEnds(true, setWidth, 1/3, 2/3)
  section:nth-of-type(9)
    div
      background-color: #568e90
      setWidth(1 / 2)
      setEnds(true, setMargin, left, right)

/* inline-block */
.inline-block
  div
    display: inline-block
    setMargin(false, 15px)
    setEnds(false, setMargin, left, right)
  section
    font-size: 0
    div
      font-size: 16px
    &:nth-of-type(1)
      &>div
        background-color: #22c1fd
    &:nth-of-type(5)
      &>div
        background-color: #ef8b22     
        vertical-align: top
        padding: 20px
    &:nth-of-type(1), &:nth-of-type(5)
      &>div
        @media mq-desktop
          setWidth(1 / 4)
          Responsive(4)
        @media mq-tablet-landscape
          setWidth(1 / 3)
          Responsive(3)
        @media mq-tablet-portrait
          setWidth(1 / 2)
          Responsive(2)
        @media mq-mobile
          setWidth(1 / 1)
          Responsive(1)
    &:nth-of-type(2)
      &>div
        setWidth(1 / 3)
        &:first-child
          margin-right: calc(99.9% * 1 / 3 + 25px)
    &:nth-of-type(3)
      &>div
        background-color: #7ba48d
        setWidth(1 / 3)
        &:nth-child(3)
          padding: 0
          font-size: 0
          &>div
            font-size: 16px
            margin: 0
            background-color: #68977c
            width: 33.33%
            &:first-child
              margin-right: 33.33%
    &:nth-of-type(4)
      text-align: center
      &>div
        setWidth(1 / 3)
    &:nth-of-type(6)
      &>div
        margin: 15px 0
        setEnds(false, setMargin, top, bottom)
    &:nth-of-type(7)
      &>div
        setWidth(1 / 3)
        background-color: #ff4726
        waffle()
    &:nth-of-type(8)
      &>div
        background-color: #00e672
        setEnds(false, setWidth, 1/3, 2/3)
    &:nth-of-type(9)
      &>div
        background-color: #568e90
        setWidth(1 / 2)
        &:first-child
          margin-left: calc(50%+15px)
          margin-bottom: 0
        &:last-child
          vertical-align: top
          margin-top: -100px
          margin-left: 0

/* flex */
.flex
  div
    setMargin(false, 15px)
    setEnds(false, setMargin, left, right)
  section
    display: flex
    flex-wrap: wrap
    &:nth-of-type(1)
      &>div
        background-color: #22c1fd
    &:nth-of-type(5)
      &>div
        padding: 0
        &>div
          background-color: #ef8b22
          margin: 0
          padding: 20px
    &:nth-of-type(1), &:nth-of-type(5)
      &>div
        @media mq-desktop
          setWidth(1 / 4)
          Responsive(4)
        @media mq-tablet-landscape
          setWidth(1 / 3)
          Responsive(3)
        @media mq-tablet-portrait
          setWidth(1 / 2)
          Responsive(2)
        @media mq-mobile
          setWidth(1 / 1)
          Responsive(1)
    &:nth-of-type(2)
      justify-content: space-between
      &>div
        setWidth(1 / 3)
    &:nth-of-type(3)
      &>div
        background-color: #7ba48d
        setWidth(1 / 3)
        &:nth-child(3)
          padding: 0
          display: flex
          justify-content: space-between
          &>div
            margin: 0
            background-color: #68977c
            width: 33.33%
    &:nth-of-type(4)
      justify-content: center
      &>div
        setWidth(1 / 3)
    &:nth-of-type(6)
      &>div
        margin: 15px 0
        setEnds(false, setMargin, top, bottom)
    &:nth-of-type(7)
      &>div
        setWidth(1 / 3)
        background-color: #ff4726
        waffle()
    &:nth-of-type(8)
      justify-content: space-between
      &>div
        background-color: #00e672
        setEnds(false, setWidth, 1/3, 2/3)
    &:nth-of-type(9)
      justify-content: space-between
      &>div
        background-color: #568e90
        setWidth(1 / 2)
        &:first-child
          order: 2
          margin-left: 15px
          margin-right: 0
        &:last-child
          order: 1
          margin-right: 15px
          margin-left: 0
        
      

