/* variables and functions */
mq-desktop = 'only screen and (min-width: 1378px)'
mq-tablet-landscape = '(min-width: 1034px) and (max-width: 1377px)'
mq-tablet-portrait = '(min-width: 689px) and (max-width: 1033px)'

section
  max-width: 1280px
  width: 90%
  margin: auto
  text-align: left
  div
    display: inline-block
    width: 300px
    height: 300px
    border: 1px dotted #000
    margin: 5px
    text-align: center
    padding: 148px 0
      
      